@charset "utf-8";

/* CSS Document */

* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  word-wrap: break-word;
  word-break: normal;
}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust:none;}
body {
	margin: 0;
	padding: 0;
	font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑","宋体",Arial,Verdana,sans-serif;
}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
th,td,tr{box-shadow: none;outline: none;}
p{word-wrap:break-word;}
ul,li,ol{list-style:none;}
a{text-decoration:none;}
input,textarea{border: none;outline: none;appearance:none;-webkit-appearance:none;background: none;}
textarea  {
　box-shadow:0px 0px 0px rgba(0,0,0,0);
	appearance:none;
	-webkit-appearance:none;
}
button{appearance:none;background: none;box-shadow: none;outline: none;border: none;}
select{appearance:none;-moz-appearance:none;-webkit-appearance:none;outline:none;border:none;background: none;}


/*按钮样式*/

#ClickMe {
	width: 200px;
	height: 30px;
	background-color: #000;
	color: #FFF;
	margin: 0 auto;
}

#goodcover {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: 0.50;
	filter: alpha(opacity=80);
}

#code {
	display: none;
	width: 300px;
	height: 350px;
	/*background-color: #fff;*/
	position: relative;;
	z-index: 1002;
	margin: 0 auto;
	top: -100px;
}

#code1{
	width: 300px;
	height: 350px;
	background-color: #fff;
	position: absolute;
	display: none;
	left: 45%;
	z-index: 1002;
}

.close1 {
	width: 300px;
	height: 60px;
}

#closebt {
	float: right;
}

#closebt img {
	width: 20px;
}

.goodtxt {
	text-align: center;
}

.goodtxt p {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #000;
	font-weight: 600;
}

.code-img {
	position: relative;
	/*width: 150px;
	margin: 5px auto 0 auto;
	padding: 10px;*/
}

.code-img img {
	width: 240px;
}

.text1 {
	font-family: PingFang-SC-Medium;
	font-size: 20px !important;
	color: #2F2F2F !important;
	letter-spacing: 0px;
}

.text2 {
	font-family: PingFang-SC-Regular;
	font-size: 14px !important;
	color: #2F2F2F !important;
	letter-spacing: 0px;
}

.cd-buttons:after {
	content: "";
	display: table;
	clear: both;
}

.cd-buttons li {
	float: left;
	width: 49%;
}

.cd-buttons a {
	display: block;
	height: 60px;
	line-height: 60px;
	text-transform: uppercase;
	font-family: PingFang-SC-Regular;
	font-size: 16px;
	color: #B8B8B8;
	letter-spacing: 0px;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.cd-buttons li:first-child a {
	/* background: #fc7169;*/
	border-radius: 0 0 0 .25em;
}

.cd-buttons li:first-child a:hover {
	font-family: PingFang-SC-Regular;
	font-size: 16px;
	color: #FF5DA9;
	letter-spacing: 0px;
}

.cd-buttons li:last-child a {
	border-radius: 0 0 .25em 0;
}

.cd-buttons li:last-child a:hover {
	/*background-color: #c5ccd8;*/
	font-family: PingFang-SC-Regular;
	font-size: 16px;
	color: #FF5DA9;
	letter-spacing: 0px;
}
