<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
    <title>服务评价</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="./css/comment.css">
    <script src="../static/js/jquery-1.9.1.js"></script>
		<script src="../js/jquery.cookie.js"></script>
    <script src="js/vue.min.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="wrapper" id="app">
      <div class="header">
        <span class="label">【{{ctgName}}】</span>
        <span>{{title}}</span>
      </div>

      <div class="tags-wrapper" v-show="cType == '1'">
        <span class="tags-title">一般  ——  满意</span>
        <div class="tags-content">
          <span class="tags-icon"></span>
          <span class="tags-icon"></span>
          <span class="tags-icon"></span>
          <span class="tags-icon"></span>
          <span class="tags-icon"></span>
        </div>
      </div>

      <div class="body-wrapper" v-show="cType == '1'">
        <div class="body-item" v-for="(item, index) in assessList">
          <div class="title-wrapper">
            <h2>{{item.CategoryName}}</h2>
          </div>
          <div class="content-wrapper">
            <div class="content-item" v-for="(child, i) in item.items">
              <h3 class="content-item-title">{{(i+1)+'.'+child.ItemName}}</h3>
              <div class="content-item-content">
                <span class="content-item-content-star" :class="{'active':child.mark>=1}" @click="setMark(index,i,1)"></span>
                <span class="content-item-content-star" :class="{'active':child.mark>=2}" @click="setMark(index,i,2)"></span>
                <span class="content-item-content-star" :class="{'active':child.mark>=3}" @click="setMark(index,i,3)"></span>
                <span class="content-item-content-star" :class="{'active':child.mark>=4}" @click="setMark(index,i,4)"></span>
                <span class="content-item-content-star" :class="{'active':child.mark>=5}" @click="setMark(index,i,5)"></span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="input-wrapper">
        <div class="input-content-wrapper">
          <textarea style="-webkit-appearance:none;appearance:none;border:none;outline:none;" v-model="content" placeholder="评论可获50积分，写下具体的使用体会，传播给更多的光博士用户"></textarea>
        </div>
        <div class="sp" v-show="images.length > 0"></div>
        <div class="input-images-wrapper">
          <div class="input-images">
            <span class="image-item" v-for="(item,index) in images" :style="{backgroundImage:'url('+item+')'}">
              <span class="image-del-icon" @click="delImg(index)"></span>
            </span>

            <span class="image-add" v-show="images.length > 0">
              ＋
              <input type="file" class="inputfile" multiple="multiple" @change="addImg">
            </span>
          </div>
          <div class="input-images-footer" v-show="images.length === 0">
            <span class="camera-icon"></span>
            <span class="desc">可点击上传图片，一共可以上传9张</span>
            <input type="file" class="inputfile" multiple="multiple" @change="addImg">
          </div>
        </div>
      </div>
      <div class="submit-btn" :class="{active: content.length!=0}" @click="submit">
        发表评论
      </div>
    </div>
  </body>
  <script src="js/comment.js" charset="utf-8"></script>
</html>
