<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta id="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<title></title>
		<link href="../static/css/common.css" rel="stylesheet">
		<link href="../static/css/style.css" rel="stylesheet">
		<link href="../static/css/icon.css" rel="stylesheet">
		<script src="../static/js/jquery-1.9.1.js"></script>
		<script src="../static/js/idangerous.swiper.js"></script>
		<script src="../static/js/web.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/jquery.tmpl.min.js"></script>
		<script src="../js/jquery.cookie.js"></script>

		<script type="text/html" id="template">

			<li style="width: 100%;">
				<a href="javascript:void(0)" id="orderDetail" >
					<div class="divv" data-type="${Type}" data-id="${ID}" data-state="${TGStatus}">
						<div class="time">${OrderDate}</div>
						<div style="padding-top: 16pt;padding-bottom: 14pt;"><span>【${Category}】</span><span>${GoodName}</span></div>
						<div>
							<a href="javascript:;"><img src="${GoodImg}" class="jump" style="width: 100%;" data-id="${GoodID}"/></a>
						</div>
						<div style="padding-top: 19pt; padding-bottom: 18pt;">
							<div><span style="font-family: PingFang-SC-Regular; font-size: 12px; color: #231916;">订单价格： </span><span class="price">${Price }</span></div>
						</div>
						{{if (Type==1 || Type==2 || Type==4) && ReservationStatus ==2}}
						<div style="padding-bottom: 21pt;">
							<button class="detail" data-type="${Type}" data-id="${ID}" data-state="${TGStatus}" style="width: 100%; height: 41pt; background: #FF5DA9;font-family: PingFang-SC-Regular; font-size: 14px; color: #FFFFFF; border: none;">电话预约（未消费）</button>
						</div>
						{{/if}} {{if (Type==3) && TGStatus ==0}}
						<div style="padding-bottom: 21pt;">
							<button class="detail" data-type="${Type}" data-id="${ID}" data-state="${TGStatus}" style="width: 100%; height: 41pt; background: #FF5DA9;font-family: PingFang-SC-Regular; font-size: 14px; color: #FFFFFF; border: none;">电话预约（未消费）</button>
						</div>
						{{/if}} {{if (Type==3) && TGStatus==-1}}
						<div style="padding-bottom: 21pt;">
							<button class="detail" data-type="${Type}" data-id="${ID}" data-state="${TGStatus}" style="width: 100%; height: 41pt; background: #FF5DA9;font-family: PingFang-SC-Regular; font-size: 14px; color: #FFFFFF; border: none;">等待开团</button>
						</div>
						{{/if}} {{if (Type==1 || Type==2 || Type==4) && ReservationStatus ==0 }}
						<div style="padding-bottom: 21pt;">
							<button class="detail" data-type="${Type}" data-id="${ID}" data-state="${TGStatus}" style="width: 60%; height: 41pt; background: #FF5DA9;font-family: PingFang-SC-Regular; font-size: 14px; color: #FFFFFF; border: none;">电话预约（预约中）</button>
							<button style="width: 30%; height: 41pt; background: #271916;font-family: PingFang-SC-Regular; font-size: 14px; color: #FFFFFF; border: none;" id="comment" data-Category="${Category}" data-goodId="${GoodID}" data-goodName="${GoodName}" data-type="${Type}" data-orderId="${OrderID}">去评价</button>
						</div>
						{{/if}}

					</div>
				</a>
			</li>

		</script>

		<style>
			#AppointmentBook {
				font-family: PingFang-SC-Regular;
				font-size: 14px;
				color: #FFFFFF;
			}

			.orderListUlNew>li {
				padding: 0;
			}

			.time {
				font-family: PingFang-SC-Regular;
				text-align: center;
				background: #F2F2F2;
				color: #656565;
				overflow: hidden;
				line-height: 35pt;
				height: 35pt;
				padding-right: 16pt;
			}

			.price {
				font-family: PingFang-SC-Bold;
				font-size: 18pt;
				color: #FF5DA9;
			}

			.headLeftBtn {
				line-height: 50px;
			}

			.divv div {
				padding: 0 16pt;
			}
		</style>
	</head>

	<body>
		<div class="layoutMain">
			<header class="pageHead clearfix">
				<div class="headLeft">
					<a href="javascript:history.go(-1)" class="headLeftBtn"><i class="icon-arrow-left"></i></a>

				</div>
				<div class="headRight">
					<a href="subscribeList.html" class="headLeftBtn" style="padding-right: 10px; width: 60px;"><span style="font-family: PingFang-SC-Regular;font-size: 14px;color: #FFFFFF;letter-spacing: 0px; vertical-align: middle; ">预约记录</span></a>

				</div>
				<h2 class="headTitle">
             美丽库
            </h2>

			</header>
			<div class="pageMain">
				<div>
					<ul class="orderListUlNew">
					</ul>
				</div>
			</div>
		</div>

	</body>

</html>
<script>
	$.get(constants.baseUrl + "/AppOrder/GetOrderListJson?UserID=" + $.cookie("userId"), function(data) {
		var response = JSON.parse(data);

		var template = $(".orderListUlNew");
		$("#template").tmpl(response).appendTo(template);
	})

	$("#comment").live("click", function(e) {
		e.preventDefault();
		sessionStorage.setItem("goodId", $(this).attr("data-goodId"));
		sessionStorage.setItem("goodName", $(this).attr("data-goodName"));

		localStorage.setItem('commentCategory', $(this).attr("data-Category"));
		localStorage.setItem("commentGoodId", $(this).attr("data-goodId"));
		localStorage.setItem("commentGoodName", $(this).attr("data-goodName"));
		localStorage.setItem("commentType", $(this).attr("data-type"));
		$.ajax({
			url:'http://www.missnefer.com/AppAssess/checkGoodsHasReservation',
			type:'get',
			data:{
				userId: $.cookie('userId'),
				goodsId: $(this).attr("data-goodId"),
				orderId: $(this).attr("data-orderId")
			},
			success: function(res){
				if (res == '1') {
					localStorage.setItem('cType', '1');
					location.href = "Comment.html";
				}else if (res == '2') {
					localStorage.setItem('cType', '2');
					location.href = "Comment.html";
				} else {
					alert('亲，还不能去评价哦～');
				}
			}
		});
	})
	$(".detail").live("click", function() {
		sessionStorage.setItem("orderId", $(this).attr("data-id"));

		if($(this).attr("data-state") == -1) {
			return false;
		}else{
			if($(this).attr("data-type") == 1 || $(this).attr("data-type") == 2 || $(this).attr("data-type") == 3) {

				location.href = "orderDetail.html";
			}
		}

	});
	$('.jump').live('click',function(){
		var id = $(this).attr('data-id');
		window.location.href = '../shaping/productDetails.html?id='+id;
	});
</script>
